@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shojumaru&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap'); /*********font-family: 'Poiret One', cursive;********/
.navbar-brand
{
	font-family: 'Shojumaru', cursive;
	
}
.navbar-nav a
{
	font-family: 'Poiret One', cursive;
	font-weight:bold;
}

.banner1:hover
{
	
}
.fat-nav li a
{
	font-family: 'Ubuntu', sans-serif;
	
}
.banner .text-one
{
	font-family: 'Baloo Chettan 2', cursive;	
	color:white;
	margin-top:300px;
	font-weight:bold;
	padding:20px;
}

.banner .text-one:hover
{
	color:lightblue;
	transition:0.2s;
}
.banner .text-two:hover
{
	color:lightblue;
	transition:0.2s;
}

.banner .text-two
{
	font-family: 'Baloo Chettan 2', cursive;
	color:white;
	padding:30px;
	font-weight:bold;
}
.gallery 
{
	margin-top:50px;
	margin-bottom:50px;
	
}

.gallery h3
{
	font-family: 'Ubuntu', sans-serif;
	
}
.gallery .img-1
{
	
	border-radius:30px 0 0 30px;
}
.gallery .img-2
{
	border-radius:0 30px 30px 0;
}



.box{
    text-align: center;
    overflow: hidden;
    
    position: relative;
}
.box:before{
    content: "";
    width: 100%;
    height: 100%;
   
    opacity: 0;
    position: absolute;
	
    transition: all 0.3s ease 0s;
}
.box:hover:before
{ opacity: 1; }

.box .box-text{
    width: 100%;
    padding-bottom: 30px;
    color: #fff;
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: all 0.3s ease 0s;
}
.box:hover .box-text
{ bottom: 0; }

.box .title{
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #e7a50f;
	font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 5px;
	text-align:center;
}
.box .post{
    display: block;
    font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
    text-align:center;
    font-weight: 600;
}

.news p
{
	font-family: 'Old Standard TT', serif;
}
.navbar-brand
{
	color:white;
}
.footer
 {
	 background: #2a2a2b;
 }
 .footer ul li
 {
	 font-family: 'Ubuntu', sans-serif;
	 list-style:none;
	 text-decoration:none;
 }
 
 .footer li i
 {
	 font-family: 'Ubuntu', sans-serif;
	 padding:5px;
	 font-size:25px;
 }
 .addrs li i
 {
	 font-family: 'Ubuntu', sans-serif;
	 font-size:18px;
 }
 	.content
	{
		font-family: 'Ubuntu', sans-serif;
	display:block;
	}
	.content p
	{
		font-family: 'Ubuntu', sans-serif;
	line-height:32px;
	}
	.col-lg-2 img
	{
	width:100%;
	height:220px;
	}
	.content1,.content2,.content3,.content4,.content5
	{
	display:none;
	}
	.default-img img
	{
		border-radius: 30px 0 30px 0;
	}
